body{
    margin: 0px;
    display: flex;
}

main {
    width: 1024px;
    height: 1000px;
    margin: 0px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-self: center;
    top: zpx;
}

.about_me {
    width: 250px;
    height: 89px;
    background-color: #8CC63F;

}
h1{
    color: black;
    text-align: center;
}


#Forest-logo-div img{
    width: 100%;
    height: 100%;
}

#navbar{
    width: 1024px;
    height: 89px;
    background-color: #4A8E5A;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position:absolute;
}

#navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0%;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

#navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align: center;
    position: absolute;

}
